<div class='panel third'>
  <h2>Links</h2>
  <h3>Mailing Lists</h3>
  <ul>
    <li>
      <%= link_to 'Auckland', 'http://groups.google.com/group/auckland-on-rails' %>
    </li>    
    <li>
      <%= link_to 'Christchurch', 'http://groups.google.com/group/christchurch-on-rails/' %>
    </li>
    <li>
      <%= link_to 'WellRailed (Wellington)', 'http://groups.google.com/group/wellrailed' %>
    </li>
    <li>
      <%= link_to 'Rails Oceania', 'http://groups.google.com/group/rails-oceania/' %>
    </li>
  </ul>
  <h3>Other Sites</h3>
  <ul>
    <li>
      <%= link_to "List of Companies", "http://workingwithrails.com/browse/companies/country/New+Zealand"%>
    </li>
    <li>
      <%= link_to "List of People", "http://workingwithrails.com/browse/people/country/New+Zealand"%>
    </li>
    <li>
      <%= link_to "Rails Camp", "http://railscamps.com" %>
    </li>
    <li>
      <%= link_to "Oceania Website", "#" %>  
    </li>
  </ul>
</div>