<h1>Ruby on Rails New Zealand</h1>
<p class='intro'>
  A portal for New Zealand Rails developers to
  discover each other and their projects.
</p>

<div id='panels' class='clearfix'>
  <%= render :partial => "twitter" %>
  <%= render :partial => "events" %>
  <%= render :partial => "links" %>
</div>

<br/><br/>

<div id='panels' class='clearfix'>
  <%= render :partial => "developers" %>
  <%= render :partial => "projects" %>
</div>